body {
    font-family: arial, sans-serif;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #888888;
    outline: none;
}

.vertically {
    margin-bottom: auto;
    margin-top: auto;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-icons {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

.btn {
    background-color: white;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ebebeb;
}

/* Use this class when user isn't authorized */
.auth-only-element {
    opacity: 0.5;
    pointer-events: none;
}

/* Scrollbar (Chrome)*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* Scrollbar (Firefox) */
* {
    scrollbar-width: thin;
}
